
<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="../css/normalize.css-master/normalize.css">
        <link rel="stylesheet" type="text/css" href="../css/my.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    </head>

    <body>
    </body>
    
    <script>
    $(document).ready(function(){
        
         /*   $.ajax({
               url:"controller/image.php",
                type:"post",
                dataType:"json",
                data: {
                    method:"getall"
                },
                success:function(resp){
                    alert("Got all images!");
                    console.log(resp);
                    
                    for(var i = 0; i<resp.length; i++){
                     var h3 = document.createElement("h3");
                     var image = document.createElement("img");
                        h3.innerHTML = resp[i].title;
                        image.src = resp[i].path;
                        document.body.appendChild(h3);
                        document.body.appendChild(image);
                        
                    }
                    
                }
            });
            
    });
    </script>
</html>