<!DOCTYPE html>
<html>
    <head>
        <title>Image Detail</title>
        <link rel="stylesheet" type="text/css" href="../css/normalize.css-master/normalize.css">
        <link rel="stylesheet" type="text/css" href="../css/my.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    </head>

    <body>
        <p id="title"></p>
        <img src="">
        <p id="location"></p>
        <p id="comments"></p>
        <p id="tags"></p>
        
        <input type='text' id='title' placeholder='title' />
        <input type='text' id='path' placeholder='path' />
        <button id='insert_img'>Insert Image</button>
                
    <div id="nav">
        <ul>
            <li>Search</li>
            <li>Home</li>
            <li>Post</li>
            <li>Profile</li>
        </ul>
        </div>
        
    </body>
    <script>
   /*     $(document).ready(function(){
            var user_id = -1;
            document.getElementById('sub').onclick = function(){
           //connect and insert 
            $.ajax({
               url:"controller/user.php",
                type:"post",
                dataType:"json",
                data: {
                    method:"login",
                    username: document.getElementById('username').value,
                    password: document.getElementById('password').value
                },
                success:function(resp){
                    alert("Logged In!");
                    user_id = resp[0].id;
                }
            });
         
                
            }
            
            document.getElementById("insert_img").onclick = function(){
                
             $.ajax({
               url:"controller/image.php",
                type:"post",
                dataType:"html",
                data: {
                    method:"insert",
                    title: document.getElementById('title').value,
                    path: document.getElementById('path').value,
                    user_id: user_id
                },
                success:function(resp){
                    alert("Inserted Image!");
                    console.log(resp);

                    
                }
            });
                
                
                
            }
            
        });
    </script>
</html>

