<!DOCTYPE html>
<html>
    <head>
        <title>Profile</title>
        <link rel="stylesheet" type="text/css" href="../css/normalize.css-master/normalize.css">
        <link rel="stylesheet" type="text/css" href="../css/my.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    </head>

    <body>
        <p id="name"></p>
        <img src="" id="avatar">
        <p id="bio"></p>
<!--Bunch of Images!!!!!! -->
        
    <div id="nav">
        <ul>
            <li>Search</li>
            <li>Home</li>
            <li>Post</li>
            <li>Profile</li>
        </ul>
        </div>
        
    </body>

</html>